body {
    user-select: none;
}

.main {
}

    .main .screen {
        display: block;
        position: relative;
        width: 100vw;
        height: 45vw;
        background-color: #0e101717;
    }

        .main .screen .btn {
            font-size: 2vw;
            padding: 0.4vw 0.8vw;
            border-width: 0.1vw;
        }

        .main .screen label,
        .main .screen .form-control,
        .main .screen button,
        .main .screen input,
        .main .screen a {
            font-size: 2vw;
        }

            .main .screen a.btn-p-0 {
                padding: 0;
            }

    .main .form-control {
        background-color: #032A42;
        color: #ffe000;
    }

    .main .msg,
    .main label {
        color: #e7e7e7;
    }

    .main .msg {
        opacity: 0.3;
        font-size: 1vw;
    }

    .main .btn-round {
        width: 9vw;
        height: 9vw;
        text-align: center;
        border: 0.5vw solid #ffffff00;
        border-radius: 50%;
        color: #ffe000;
        padding: 1vw;
    }

        .main .btn-round.active {
            background-color: red;
            transition: background-color linear 0.2s;
        }

    .main .hidden {
        visibility: collapse;
    }

.full-screen {
    position: absolute;
    top: 0;
    right: 0px;
}

.slider {
    display: block;
    position: absolute;
    border: 0 solid transparent;
}

    .slider::after {
        content: "";
        display: block;
        position: absolute;
        top: -3vw;
        bottom: -3vw;
        left: -3vw;
        right: -3vw;
    }


    .slider .pot {
        background-color: gray;
        border: 1px solid gray;
        opacity: 0.95;
    }

    .slider .pot,
    .slider .handle {
        display: block;
        position: absolute;
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
        background-color: #032A42;
    }

    .slider .handle {
        background-color: gray;
    }

        .slider .handle::before {
            content: "";
            display: block;
            position: absolute;
            width: 6.8vw;
            height: 6.8vw;
            margin-left: -0.47vw;
            margin-top: -0.47vw;
            border-radius: 50%;
            background: none;
            border: 0.5vw solid #ffe000;
        }

        .slider .handle::after {
            content: "";
            display: block;
            width: 16vw;
            height: 16vw;
            margin-left: -5vw;
            margin-top: -5vw;
            border-radius: 5vw;
            background: inherit;
            opacity: 0.1;
        }

        .slider .handle.red {
            background-color: red;
        }

        .slider .handle.green {
            background-color: green;
        }

        .slider .handle.blue {
            background-color: #001089;
        }

        .slider .handle.orange {
            background-color: orange;
        }


.info-img {
    width: 100%;
    height: 100%
}


.component-frame {
    position: absolute;
    display: block;
}

    .component-frame .size-dot {
    }

    .component-frame.current .size-dot {
        width: 1vw;
        height: 1vw;
        position: absolute;
        background-color: black;
        border-width: 1px;
        border-style: solid;
        border-color: white;
    }

        .component-frame.current .size-dot.left {
            margin: auto;
            left: -1vw;
            right: auto;
            top: 0;
            bottom: 0;
            cursor: ew-resize;
        }

        .component-frame.current .size-dot.right {
            margin: auto;
            left: auto;
            right: -1vw;
            top: 0;
            bottom: 0;
            cursor: ew-resize;
        }

        .component-frame.current .size-dot.top {
            margin: auto;
            left: 0;
            right: 0;
            top: -1vw;
            bottom: auto;
            cursor: ns-resize;
        }

        .component-frame.current .size-dot.bottom {
            margin: auto;
            left: 0;
            right: 0;
            top: auto;
            bottom: -1vw;
            cursor: ns-resize;
        }

        .component-frame.current .size-dot.top-left {
            margin: auto;
            left: -1vw;
            right: auto;
            top: -1vw;
            bottom: auto;
            cursor: nwse-resize;
        }

        .component-frame.current .size-dot.top-right {
            margin: auto;
            left: auto;
            right: -1vw;
            top: -1vw;
            bottom: auto;
            cursor: nesw-resize;
        }

        .component-frame.current .size-dot.bottom-left {
            margin: auto;
            left: -1vw;
            right: auto;
            top: auto;
            bottom: -1vw;
            cursor: nesw-resize;
        }

        .component-frame.current .size-dot.bottom-right {
            margin: auto;
            left: auto;
            right: -1vw;
            top: auto;
            bottom: -1vw;
            cursor: nwse-resize;
        }

    .component-frame .move-dot {
        position: absolute;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: move;
        transition: background-color 500ms linear;
    }

        .component-frame .move-dot:hover {
            background-color: #ffffff63;
            transition: background-color 500ms linear;
        }

    .component-frame.current .move-dot {
        border-block-color: black;
        border-width: 1px;
        border-style: solid;
    }

        .component-frame.current .size-dot.current::after,
        .component-frame.current .move-dot.current::after {
            content: "";
            display: block;
            width: 400vw;
            height: 400vw;
            margin-left: -200vw;
            margin-top: -200vw;
            background: black;
            opacity: 0.1;
        }


.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0000005e;
}


    .loading .spinner-border {
        position: absolute;
        display: block;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }


.toggle {
    background-color: #808080a8;
    overflow: hidden;
}


table.files tbody tr {
    cursor: pointer;
}

    table.files tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    table.files tbody tr.active {
        background-color: rgba(0, 0, 0, 0.12);
    }
