* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: auto;
    width: 100vw;
    overflow: hidden;
}

.grid {
    /*background-image: repeating-linear-gradient(#1C7175 0 1px, transparent 1px 100%), repeating-linear-gradient(90deg, #1C7175 0 1px, transparent 1px 100%);
    background-size: 10vw 10vw;*/
}


.plate {
    height: 6em;
    width: 100%;
    margin: 1rem 0;
}

    .plate img {
        display: block;
        margin: auto;
        width: 3em;
        height: 3em;
    }

